@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face{
  font-family: Pokemon;
  src: url("./assets/Pokemon\ GB.ttf")
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family:"Press Start 2P";
  background: url("./assets/pokemon-background.jpg");
  background-size:cover;
  color:black;
}


button {
  transition: border-color 0.25s;
  cursor: pointer;
  font-family: inherit;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}
