.card,
.card-container {
    width:180px;
    height:250px;
}

.card {
    border-radius:5px;
    background-color: rgba(0,0,0,0.2);
    border:0;
}

.card:focus{
    outline: 0;
}

.card:focus-visible{
    outline: 1px solid black;
}
.card:active {
    scale:0.95;
    outline: 0;
}
.card-front {
    position:absolute
}