.game-over-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}
.status-gif{
    width:550px;
    height:300px;
    transform:scale(0.9);
    overflow:hidden;
    /* border:none; */
    /* overflow:hidden; */
}
img{
    overflow:hidden;
}

.options{
    display:flex;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
}
